<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXQIAibUHVr7eXhqxNxKOz2dA_xOP_9mU</string>
	<key>GCM_SENDER_ID</key>
	<string>700349548345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashboardBarbershop</string>
	<key>PROJECT_ID</key>
	<string>barber-shop-be4df</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-shop-be4df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700349548345:ios:0eb1f94820b47b05284ae8</string>
	<key>DATABASE_URL</key>
	<string>https://barber-shop-be4df-default-rtdb.firebaseio.com</string>
</dict>
</plist>